/* basic work*/
*{
    margin:0;
    padding:0;
    box-sizing: border box;
  
}

body{
    background-color: #ffffff;
    color: #333;
}

/* banner work */

.banner {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    
}
.banner h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.banner p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* for buttons */
.btn {
    text-decoration: none;
    display: inline-block;
    background: rgb(0, 149, 255);
    color: white;
    padding: 7px 17px;
    border-radius: 3px;

    

}
.btn-primary {
    font-size: 16px;
    background-color: #2563eb;
    color: #ffffff;
}

.btn-primary:hover{
    background-color: black;
}
.btn-large{
    font-size: 19px;
    padding: 12px 20px;
}
.btn-outline {
    background-color: #ffffff;
    color: #2563eb;
    border: 1px solid #2563eb;
    width: 100%;
    text-align: center;
}

.btn-outline:hover {
    background-color: #f8fafc;
}


/* Navigation bar */
.navbar  {
     
    padding: 15px 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e8f0;
}
.nav-content {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
    
.menu {
    text-decoration: none;
    display: flex;
    gap: 25px;
    margin-right: 500px;
     font-weight: 500;
    font-size: 20px;
}

/* for big banner 
.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    text-align: center;
    color: #ffffff;
    min-height: 500px;
    display: flex;
    align-items: center;
} */